@charset "UTF-8";

:root {
  --light: #f6f6f4;
  --egg: #ffbb00;
  --shadow: #dbdbb1;
  --scorch: #554e3b;

  --accent: var(--egg);
  --bgBase: var(--light);
  --textBase: var(--scorch);
  --textLink: var(--scorch);
  --bgButton: var(--egg);

  --commonPad: 1rem;
  --mainWidth: 67.5rem;
  --bodyFontSize: 1.25rem;

  --gridGap: calc(var(--commonPad) / 2);
}

@media (max-width: 1079px) {
  :root {
    --gridGap: calc(var(--commonPad) / 2.5);
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--textLink);
  text-underline-position: under;
}

/* button reset */
button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 6px;
  width: auto;
  color: inherit;
  font: inherit;
  font-size: 1rem;
  line-height: normal;
  vertical-align: top;
  background-color: transparent;
  overflow: visible;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  color: var(--textBase);
  background-color: var(--bgBase);
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: var(--commonPad);
  padding-inline-end: var(--commonPad);
  max-width: var(--mainWidth);
  width: 100%;
  min-height: 100vh;
  font-size: var(--bodyFontSize);
  font-family: "Noto Sans JP", sans-serif;
}

hgroup {
  margin-block-start: 2rem;
}

hgroup h2 {
  font-size: var(--bodyFontSize);
  font-weight: normal;
}

svg {
  vertical-align: top;
}

h1 path {
  fill: var(--accent);
}

li {
  list-style-type: none;
}

ol {
  display: grid;
  gap: var(--gridGap);
  grid-template-columns: repeat(auto-fill, minmax(168px, 1fr));
  margin: 0;
  padding: 0;
  width: 100%;
}

ol + p {
  margin-block-start: 1.5em;
}

picture {
  width: 100%;
}

img {
  width: 100%;
  border-radius: 6px;
  vertical-align: top;
}

button img {
  pointer-events: none;
  margin: auto;
  max-width: 168px;
}

button.more {
  margin-block-start: 1em;
  padding: calc(var(--commonPad) / 2) calc(var(--commonPad));
  background-color: var(--bgButton);
}

button.close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  place-items: center;
  padding: calc(var(--commonPad) / 2);
  background-color: var(--bgButton);
}

button.close path {
  fill: var(--textBase);
}

dialog {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  padding: var(--commonPad);
  border-width: 0;
  background-color: transparent;
}

dialog img {
  border: var(--commonPad) solid transparent;
  border-radius: 6px;
  max-width: min(calc(100vw - (var(--commonPad) * 4)), 1280px);
  max-height: min(calc(100vh - (var(--commonPad) * 4)), 960px);
  aspect-ratio: attr(width) / attr(height);
  object-fit: contain;
  background-color: var(--bgBase);
}

section {
  margin-block-start: 5rem;
}

footer {
  margin-block-start: 5rem;
  padding-block-end: var(--commonPad);
}
